<div>
    <div class="row">
      <div class="col-10 mx-auto">

        <div class="card register-card">
          <div class="card-block">
            <h4 class="card-title">Add Your Pet</h4>
            <form>
                <p-fileUpload name="demo[]" url="{{uploadUrl}}" (onUpload)="onUpload($event)" accept="image/*" maxFileSize="1000000">
                  <template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                      <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                    </ul>
                  </template>
                </p-fileUpload>
              <br>
              <div class="input-group form-group">
                <input [(ngModel)]="model.name" name="petname" type="text" class="form-control" placeholder="Pet Name">
              </div>

              <div class="input-group form-group">
                <input [(ngModel)]="model.weight" name="weight" type="number" class="form-control" placeholder="Weight">
              </div>

              <div class="input-group form-group">
                <input [(ngModel)]="model.age" name="age" type="number" class="form-control" placeholder="Age">
              </div>

              <h4>Category</h4>
              <p-selectButton [options]="categories" name="things" [(ngModel)]="selectedCategory"></p-selectButton>

              <br>
              <br>
              <button (click)="createPet()" class="btn btn-primary">Submit</button>

            </form>
          </div>
        </div>

      </div>
    </div>
</div>

