<div class="container">

  <div class="row">
    <div class="col-10 mx-auto">

      <div class="card register-card">
        <div class="card-block">
          <h4 class="card-title">Welcome</h4>
          <form>
            <!--<div class="form-group">-->
              <!--<label for="exampleInputEmail1">Email address</label>-->
              <!--<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">-->
              <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<label for="exampleInputPassword1">Password</label>-->
              <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<label for="exampleInputPasswordConfirmation">Password</label>-->
              <!--<input type="password" class="form-control" id="exampleInputPasswordConfirmation" placeholder="Confirm Password">-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<input type="text" class="form-control" id="firstName" aria-describedby="firstName" placeholder="First Name">-->
            <!--</div>-->

            <!--<div class="input-group form-group">-->
              <!--<span class="input-group-addon" id="sizing-addon2">@</span>-->
              <!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="sizing-addon2">-->
            <!--</div>-->

            <div class="input-group form-group">
              <span class="input-group-addon" id="username">@</span>
              <input type="text" class="form-control" placeholder="Username">
            </div>

            <div class="input-group form-group">
              <span class="input-group-addon" id="password">@</span>
              <input type="password" class="form-control" placeholder="Password">
            </div>

            <div class="input-group form-group">
              <span class="input-group-addon" id="confirm-password">@</span>
              <input type="password" class="form-control" placeholder="Confirm Pasword">
            </div>

            <div class="input-group form-group">
              <span class="input-group-addon" id="first-name">@</span>
              <input type="text" class="form-control" placeholder="firstName">
            </div>

            <div class="input-group form-group">
              <span class="input-group-addon" id="last-name">@</span>
              <input type="text" class="form-control" placeholder="lastName">
            </div>

            <input class="btn btn-primary" type="submit" value="Submit">
          </form>
        </div>
      </div>

    </div>
  </div>

</div>
