<div class="container">

  <div class="row">
    <div class="col-10 mx-auto">

      <div class="card register-card">
        <div class="card-block">
          <h4 class="card-title">Welcome</h4>
          <form (submit)="onRegisterSubmit()">
            <div class="input-group form-group">
              <span class="input-group-addon" id="username">@</span>
              <input [(ngModel)]="model.username" name="username" type="text" class="form-control" placeholder="Username">
            </div>

            <div class="input-group form-group">
              <span class="input-group-addon" id="password">@</span>
              <input [(ngModel)]="model.password" name="password" type="password" class="form-control" placeholder="Password">
            </div>

            <div class="input-group form-group">
              <span class="input-group-addon" id="confirm-password">@</span>
              <input [(ngModel)]="model.confirmPassword" name="confirmPassword" type="password" class="form-control" placeholder="Confirm Password">
            </div>

            <div class="input-group form-group">
              <span class="input-group-addon" id="first-name">@</span>
              <input [(ngModel)]="model.firstName" name="firstName" type="text" class="form-control" placeholder="First Name">
            </div>

            <div class="input-group form-group">
              <span class="input-group-addon" id="last-name">@</span>
              <input [(ngModel)]="model.lastName" name="firstName" type="text" class="form-control" placeholder="Last Name">
            </div>

            <input class="btn btn-primary" type="button" (click)="submitThings()" value="Submit">
          </form>
        </div>
      </div>

    </div>
  </div>

</div>

