<div class="container">

  <div class="row">
    <div class="col-10 mx-auto">

      <h3 class="first">Default</h3>
      <p-tabView>
        <p-tabPanel header="Pet Owner" leftIcon="fa fa-paw" aria-hidden="true">
          <div class="card register-card">
            <div class="card-block">
              <h4 class="card-title">Welcome</h4>
              <form (submit)="onRegisterSubmit()">
                <div class="input-group form-group">
                  <input [(ngModel)]="model.username" name="username" type="text" class="form-control" placeholder="Email">
                </div>

                <div class="input-group form-group">
                  <input [(ngModel)]="model.password" name="password" type="password" class="form-control" placeholder="Password">
                </div>

                <div class="input-group form-group">
                  <input [(ngModel)]="model.confirmPassword" name="confirmPassword" type="password" class="form-control" placeholder="Confirm Password">
                </div>

                <div class="input-group form-group">
                  <input [(ngModel)]="model.firstName" name="firstName" type="text" class="form-control" placeholder="First Name">
                </div>

                <div class="input-group form-group">
                  <input [(ngModel)]="model.lastName" name="firstName" type="text" class="form-control" placeholder="Last Name">
                </div>

                <input class="btn btn-primary" type="button" (click)="submitThings()" value="Submit">
              </form>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Vendor" leftIcon="fa fa-users" aria-hidden="true">
          <div class="card register-card">
            <div class="card-block">
              <h4 class="card-title">Welcome</h4>
              <form (submit)="onRegisterSubmit()">
                <div class="input-group form-group">
                  <input [(ngModel)]="vendor.businessName" name="businessName" type="text" class="form-control" placeholder="Company Name">
                </div>

                <div class="input-group form-group">
                  <input [(ngModel)]="vendor.contactName" name="contactName" type="text" class="form-control" placeholder="Contact Name">
                </div>

                <div class="input-group form-group">
                    <input [(ngModel)]="vendor.email" name="email" type="text" class="form-control" placeholder="Email">
                </div>

                <div class="input-group form-group">
                  <input [(ngModel)]="vendor.address" name="address" type="text" class="form-control" placeholder="Address">
                </div>

                <div class="input-group form-group">
                  <p-dropdown [options]="vendor.types" name="companytype" [(ngModel)]="vendor.type"></p-dropdown>
                </div>

                <div class="input-group form-group">
                  <input [(ngModel)]="vendor.companyPassword" name="companyPassword" type="password" class="form-control" placeholder="Password">
                </div>

                <div class="input-group form-group">
                  <input [(ngModel)]="vendor.confirmCompanyPassword" name="confirmCompanyPassword" type="password" class="form-control" placeholder="Confirm Password">
                </div>

                <input class="btn btn-primary" type="button" (click)="submitThingsForVendor()" value="Submit">
              </form>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>

</div>

