
            <nav class="main-menu">
            <ul>
                <li>
                    <a [routerLink]="['']">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Home
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a [routerLink]="['parks']">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="nav-text">
                            Parks
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a [routerLink]="['/dashboard/']">
                       <i class="fa fa-list fa-2x"></i>
                        <span class="nav-text">
                            Appointments
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a [routerLink]="['last-seen']">
                       <i class="fa fa-bullhorn"></i>
                        <span class="nav-text">
                            Last Seen
                        </span>
                    </a>

                </li>
                <li>
                    <a [routerLink]="['my-pets']">
                        <i class="fa fa-bar-chart-o fa-2x"></i>
                        <span class="nav-text">
                            My Pets
                        </span>
                    </a>
                </li>
                <li>
                        <a [routerLink]="['add-pet']">
                            <i class="fa fa-plus-square-o" ></i>
                            <span class="nav-text">
                                Add Pet
                            </span>
                        </a>
                    </li>
                <li>
                    <a [routerLink]="['my-docs']">
                        <i class="fa fa-folder-open fa-2x"></i>
                        <span class="nav-text">
                            Medical Records
                        </span>
                    </a>
                </li>
                <!-- <li>
                   <a href="#">
                       <i class="fa fa-table fa-2x"></i>
                        <span class="nav-text">
                            Tables
                        </span>
                    </a>
                </li> -->
                <!-- <li>
                   <a href="#">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="nav-text">
                            Maps
                        </span>
                    </a>
                </li> -->
                <li>
                    <a href="#">
                       <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Documentation
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="logout">
                <li>
                   <a href="#">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
