<p-schedule [events]="events" [header]="header" defaultDate="2017-10-15" [eventLimit]="4" [editable]="true"
            (onDayClick)="handleDayClick($event)" (onEventClick)="handleEventClick($event)"></p-schedule>

            <p-dialog header="Event Details" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade" [modal]="false" [contentStyle]="{'overflow':'visible'}"
            [style]="{'overflow':'visible'}" [resizable]="false">
            <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="event">

                    <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label for="end">Type</label></div>
                            <p-calendar [(ngModel)]="event.date" showTime="showTime" hourFormat="12"></p-calendar>
                        </div>
                        
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="vin">Vendor </label></div>
                    <div class="ui-grid-col-8"><p-dropdown [options]="businessName" [(ngModel)]="event.vendorId" placeholder="Select"></p-dropdown></div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="start">Pet</label></div>
                    <div class="ui-grid-col-8"><p-dropdown [options]="petName" [(ngModel)]="event.petId" placeholder="Select"></p-dropdown></div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="end">Type</label></div>
                    <div class="ui-grid-col-8"><p-dropdown [(ngModel)]="event.type" [options]="serviceType"></p-dropdown></div>
                </div>
                
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="allday">Description</label></div>
                    <div class="ui-grid-col-8"><textarea pInputTextarea autoResize="autoResize" [(ngModel)]="event.description" ></textarea>
                    </div>
                </div>

            </div>
            <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix">
                    <button type="button" pButton icon="fa-check" (click)="saveEvent()" label="Save" ></button>
                </div>
            </p-footer>
            </p-dialog>