<div class="masthead clearfix">
        <div class="inner">
          <a class="masthead-brand" [routerLink]="['']">
              <img src="../../../assets/image/0ae15e66f2be1672974f3e3d86c52e86--font-design-cat-logo-design.jpg" width="30" height="30" alt="">
            </a>
          <nav class="nav nav-masthead">
            <a  class="nav-link" [routerLink]="['']" >Home</a>
            <a  class="nav-link " [routerLink]="['/login']" (click)="flag('login')">Login</a>
            <a  class="nav-link " [routerLink]="['/register']" (click)="flag('register')">Register</a>
          </nav>
        </div>
      </div>