<p-dataList [value]="userPets" [paginator]="true" [rows]="5">
  <p-header>
    My Pets
  </p-header>
  <ng-template let-pet pTemplate="item">
    <div class="ui-g ui-fluid car-item">
      <!--<div class="ui-g-12 ui-md-3" style="text-align:center">-->
        <!--<img src="assets/showcase/images/demo/car/{{pet.whoKnows}}.png">-->
      <!--</div>-->
      <div class="ui-g-12 ui-md-9 car-details">
        <div class="ui-g">
          <div class="ui-g-2 ui-sm-6">Pet Name: </div>
          <div class="ui-g-10 ui-sm-6">{{pet.name}}</div>
        
          <div class="ui-g-2 ui-sm-6">Category: </div>
          <div class="ui-g-10 ui-sm-6">{{pet.category}}</div>

          <div class="ui-g-2 ui-sm-6">Breed: </div>
          <div class="ui-g-10 ui-sm-6">{{pet.breed}}</div>

          <div class="ui-g-2 ui-sm-6">Gender: </div>
          <div class="ui-g-10 ui-sm-6">{{pet.gender}}</div>

          <div class="ui-g-2 ui-sm-6">Age: </div>
          <div class="ui-g-10 ui-sm-6">{{pet.details.age.number}}</div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataList>
