<p-dataList [value]="userPets" [paginator]="true" [rows]="2" styleClass="myPetsList">
  <p-header>
    My Pets
  </p-header>
  <ng-template let-pet pTemplate="item">
    <div class="ui-g ui-fluid car-item">
      <div class="ui-g-12 ui-md-3" style="text-align:center" *ngIf="!pet.useDefault">
        <img [src]="_DomSanitizer.bypassSecurityTrustUrl(pet.details.photo)" height="150" width="150" alt="img"/>
      </div>
      <div class="ui-g-12 ui-md-3" style="text-align:center" *ngIf="pet.useDefault">
        <img [src]="defaultImgPath" style="border: solid;" height="150" width="150" alt="img"/>
      </div>
        <div class="ui-g-12 ui-md-9 pet-details">
          <div class="ui-g">
            <div class="ui-g-2 ui-sm-6" style="font-family: Impact;">Pet Name: </div>
            <div class="ui-g-10 ui-sm-6" style="font-family: Impact;">{{pet.name}}</div>

            <div class="ui-g-2 ui-sm-6" style="font-family: Impact;">Category: </div>
            <div class="ui-g-10 ui-sm-6" style="font-family: Impact;">{{pet.category}}</div>

            <div class="ui-g-2 ui-sm-6" style="font-family: Impact;">Breed: </div>
            <div class="ui-g-10 ui-sm-6" style="font-family: Impact;">{{pet.breed}}</div>

            <div class="ui-g-2 ui-sm-6" style="font-family: Impact;">Gender: </div>
            <div class="ui-g-10 ui-sm-6" style="font-family: Impact;">{{pet.gender}}</div>

            <div class="ui-g-2 ui-sm-6" style="font-family: Impact;">Age: </div>
            <div class="ui-g-10 ui-sm-6" style="font-family: Impact;">{{pet.details.age.number}}</div>
          </div>
        </div>
      </div>
    <hr>
  </ng-template>
</p-dataList>
